{% extends "appR/dashboard_P.html" %}
{% load static %}

{% block contenido_dashboard %}

<section class="panel">
    <div class="header-panel">
        <h2>Usuarios</h2>
        <a href="{% url 'agregar_usuario' %}" class="btn-add">+ Agregar usuario</a>

    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for u in usuarios %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.nombre_completo }}</td>
                    <td>{{ u.correo_empresarial }}</td>
                    <td>{{ u.rol }}</td>

                    <td>
                        {% if u.is_active %}
                        <span class="badge success">Activo</span>
                        {% else %}
                        <span class="badge danger">Inactivo</span>
                        {% endif %}
                    </td>

                    <td>
                        <a href="{% url 'editar_usuario' u.id %}" class="btn small edit">Editar</a>

                        {% if u.is_active %}
                        <a href="{% url 'deshabilitar_usuario' u.id %}" class="btn small warn">Deshabilitar</a>
                        {% else %}
                        <a href="{% url 'habilitar_usuario' u.id %}" class="btn small success">Habilitar</a>
                        {% endif %}

                        <a href="{% url 'eliminar_usuario' u.id %}" class="btn small danger"
                            onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">
                            Eliminar
                        </a>

                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No hay usuarios registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}