{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <!-- CSS externo -->
    <link rel="stylesheet" href="{% static 'appR/css/login.css' %}">

    <!-- Imagen de fondo (mejor práctica en Django) -->
    <style>
        body {
            background-image: url("{% static 'appR/img/fondo.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>

    <div class="login-container">

        <div class="avatar">
            <img src="{% static 'appR/img/logo.png' %}" alt="Logo">
        </div>

        <h2>Iniciar Sesión</h2>
        <p>Acceso para empleados autorizados</p>

        {% if messages %}
        {% for message in messages %}
        {% if 'login' in message.tags %}
        <div class="msg-error">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}


        <form method="POST">
            {% csrf_token %}

            <div class="input-box">
                <label>Correo empresarial</label>
                <input type="email" name="correo_empresarial" placeholder="correo@empresa.com" required>
            </div>

            <div class="input-box">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="••••••••" required>
            </div>

            <button class="btn-login" type="submit">Ingresar</button>

            <div class="forgot">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
        </form>

    </div>

</body>

</html>