/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Contenedor principal centrado */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Overlay oscuro */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

/* Login Box */
.login-container {
    background: rgba(11, 75, 136, 0.95);
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    z-index: 1;
}

/* Avatar */
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid #fff;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Textos */
h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

p {
    font-size: 13px;
    color: #c7d0e1;
    margin-bottom: 20px;
}

/* Inputs */
.input-box input {
    width: 100%;
    padding: 8px;
    font-size: 13px;
    border-radius: 8px;
    background: #dbe7ff;
    border: none;
    outline: none;
    margin-top: 5px;
}

/* Botón */
.btn-login {
    width: 100%;
    padding: 10px;
    background: #46a8ff;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
}

.btn-login:hover {
    background: #1c8df2;
}

.forgot a {
    font-size: 12px;
    color: #c7d0e1;
}
